<div class="footer">
    <div class="container">
       <div class="row">
            <div class="col-4">
              <a href="/home" style="color: black;">
                <i class="fas fa-home"></i>
              </a>
            </div>
            <div class="col-4" >
              <a href="/favorites" style="color: black;">
                <i class="fas fa-star"></i>
              </a>
            </div>
            <div class="col-4">
               <a href="/profile" style="color: black;">
                <i class="fas fa-user-alt"></i>
              </a>
            </div>
       </div>
    </div>
</div>