 <!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #eee;">
    <div class="container-fluid">
      <a class="navbar-brand">
      <img src="../images/bluelogo2.png" alt="" width="50" height="34" class="d-inline-block align-top">
        HouseMatch
      </a>
    </div>
</nav> 