<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="introHCI.js"></script>
  <style>
    /* body {font-family: Arial, Helvetica, sans-serif;} */
    /* Full-width input fields */
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    /* Set a style for all buttons */
    button {
      background-color: #A3CDFF;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    button:hover {
      opacity: 0.8;
    }
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #D20101;
      text-align: center;
    }
    .container {
      padding: 16px;
    }
    span.psw {
      float: right;
      padding-top: 16px;
    }
    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
    }
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }
    h2 {
      margin-top: 180px;
      text-align: center;
      position: relative;
    }

    body {
      background-image: image('background.png');
    }
    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0)
      }
      to {
        -webkit-transform: scale(1)
      }
    }
    @keyframes animatezoom {
      from {
        transform: scale(0)
      }
      to {
        transform: scale(1)
      }
    }
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <h2>HouseMatch</h2>

  <div class ="container">
    <div class = "row justify-content-center" >
      <button onclick="document.getElementById('login').style.display='block'" , style="font-size: large; max-width:50%;"type="button">Login</button>
    </div>

    <div class = "row justify-content-center">
      <button onclick="document.getElementById('newuser').style.display='block'" , style="font-size: large; max-width: 50%;">NewUser</button>
    </div>
  </div>
  
  <div id="login" class="modal">

    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'" class="close"
          title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="email" type="text" placeholder="Enter Username" name="username" required>
        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="pass" required>
        <!-- <button type="submit" style="align-content: center;">Login</button> -->
        {{!-- <button onclick="location.href='/home'" id="submit" type="submit" class="btn btn-secondary" type="button">
          LOGIN</button> --}}
        <button type="button" class="btn btn-primary btn-md" id="submit">login <i class="fa fa-sign-in"></i></button>
      </div>

      <div class="container" style="background-color:#0000">
        <button type="button" onclick="document.getElementById('login').style.display='none'"
          class="cancelbtn">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Sign up form-->
  <div id="newuser" class="modal">

    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('newuser').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
      </div>

      <div class="container">
        <h1>Sign Up </h1>
        <p>Please fill in this form to create an account</p>
        <label for="uname"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="psw"><b>Create a password:</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>
        <label for="psw"><b>Confirm your password:</b></label>
        <input type="password" placeholder="Enter Password" name="passs" required>


        <!--  <button type="submit" style="align-content: center;">SIGN UP</button> -->
        <button onclick="location.href='/home'" type="submit" style="align-content: : center;" type="button"> SIGN
          UP</button>

      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button onclick="document.getElementById('confirm').style.display='block'" , class="cancelbtn">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Confirmation if you want to close this tab -->
  <div id="confirm" class="modal">
    <form class="modal-content animate">
      <div class="container">
        <h1>Are you sure you want to close this tab? </h1>
        <p>All your information will be erased</p>
        <button type="button"
          onclick="document.getElementById('newuser').style.display='none'; document.getElementById('confirm').style.display='none'"
          class="cancelbtn" style="background-color: green;">Yes, Sure</button>
        <button type="button" onclick="document.getElementById('confirm').style.display='none'" class="cancelbtn">No, I
          change my mind</button>

      </div>
    </form>
  </div>


</body>

</html>