<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
     integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <style>
      .footer{
          position: fixed;
          left: 0;
          bottom: 0;
          height: 50px;
          padding-top: 10px;
           width: 100%;
            background-color: rgb(238, 238, 238);
          color: black;
          text-align: center;
        }
    </style>

    <title>HouseMatch - Preference</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://imgprd19.hobbylobby.com/c/c5/2a/cc52abfa8da556fd54cd7bebcdaf487bdbeeeaad/700Wx700H-191288-0320-px.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
            HouseMatch
          </a>
        </div>
      </nav>
    
    <div class="container">
        <h1>Select Preferences</h1>
        <form>
            <h4>Room Type</h4>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Single
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Double
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
              <label class="form-check-label" for="flexRadioDefault3">
                No Preference
              </label>
            </div>


              <br>
              <h4>Bathroom</h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  Private
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault5">
                <label class="form-check-label" for="flexRadioDefault5">
                  Shared
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault6">
                <label class="form-check-label" for="flexRadioDefault6">
                  No Preference
                </label>
              </div>
              <br>

              <h4>Furnish</h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault7">
                <label class="form-check-label" for="flexRadioDefault7">
                  Furnished
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault8">
                <label class="form-check-label" for="flexRadioDefault8">
                  Unfurnished
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault9">
                <label class="form-check-label" for="flexRadioDefault9">
                  No Preference
                </label>
              </div>
              <br>

              <h4>COVID-19 Conscious</h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault10">
                <label class="form-check-label" for="flexRadioDefault10">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault11">
                <label class="form-check-label" for="flexRadioDefault11">
                  No
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault12">
                <label class="form-check-label" for="flexRadioDefault12">
                  No Preference
                </label>
              </div>
              <br>

              <h4>Occupants</h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault13">
                <label class="form-check-label" for="flexRadioDefault13">
                  1-2
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault14">
                <label class="form-check-label" for="flexRadioDefault14">
                  3-5
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault15">
                <label class="form-check-label" for="flexRadioDefault15">
                  5-7
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault16">
                <label class="form-check-label" for="flexRadioDefault16">
                  No Preference
                </label>
              </div>
              <br>

              <h4>Gender</h4>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault17">
                <label class="form-check-label" for="flexRadioDefault17">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault18">
                <label class="form-check-label" for="flexRadioDefault18">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault19">
                <label class="form-check-label" for="flexRadioDefault19">
                  No Preference
                </label>
              </div>

              <br>
              <h4>Price Range</h4>
              <form>
                <div class="mb-3">
                  <label for="min" class="form-label">Min</label>
                  <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="max" class="form-label">Max</label>
                  <input type="text" class="form-control" >
                </div>
                
              </form>
             
          <label for="avatar">Upload Pictures of Room:</label>
          <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" style="margin-bottom: 10px;">



            <div class="d-grid gap-2" style="padding-left: 1px; padding-right: 1px;">
                <a href="/roomsMatched" type="submit" class="btn btn-primary" type="button"> Post Room for Rent</a>
              </div>
              <br>
              <br>
              <br>
              <br>

              

        </form>

    {{> footer}}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>