<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../js/img.js"></script>

    {{> lato}}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
     integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <style>
      .footer{
          position: fixed;
          left: 0;
          bottom: 0;
          padding-top: 10px;
           width: 100%;
            background-color: rgb(238, 238, 238);
          color: black;
          text-align: center;
        }
        .asterisk{
          color: red;
          font-size:18px;
        }
    </style>

    <title>HouseMatch - Preference</title>
  </head>
  <body>

  {{> navbar}}
    
    <div class="container">
        <h1>Select Room Details</h1>
        <span style="color: red;">* indicates required fields</span>
        <!-- role="form" method="get" action="/add" -->
        <form method="get" action="/rooms">
          <h4>Room Type 
            <span class="asterisk">*</span>
          </h4>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="roomType" id="flexRadioDefault1"
              required value="Single">
              <label class="form-check-label" for="flexRadioDefault1">
                Single
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="roomType" id="flexRadioDefault2"
              value="Double">
              <label class="form-check-label" for="flexRadioDefault2">
                Double
              </label>
            </div>

            <br>
              <h4>Bathroom 
               <span class="asterisk">*</span></h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="bathroom" id="flexRadioDefault4" required value="Private">
                <label class="form-check-label" for="flexRadioDefault4">
                  Private
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="bathroom" id="flexRadioDefault5"
                value="Shared">
                <label class="form-check-label" for="flexRadioDefault5">
                  Shared
                </label>
              </div>
              <br>

              <h4>Furnished 
               <span class="asterisk">*</span></h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="furnished" id="flexRadioDefault7"
                required value="Furnished">
                <label class="form-check-label" for="flexRadioDefault7">
                  Furnished
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="furnished" id="flexRadioDefault8"
                value="Unfurnished">
                <label class="form-check-label" for="flexRadioDefault8">
                  Unfurnished
                </label>
              </div>
              <br>

              <h4>COVID-19 Conscious  <span class="asterisk">*</span>
              </h4>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="covid" id="flexRadioDefault10" required value="Yes">
                <label class="form-check-label" for="flexRadioDefault10">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="covid" id="flexRadioDefault11"
                value="No">
                <label class="form-check-label" for="flexRadioDefault11">
                  No
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="covid" id="flexRadioDefault12"
                value="No Preference">
                <label class="form-check-label" for="flexRadioDefault12">
                  No Preference
                </label>
              </div>
              <br> 

              <h4>Number of Occupants
               <span class="asterisk">*</span></h4>
              <div class="mb-3">
                  <input type="text" class="form-control" name="occupants" required>
              </div>

              <br>

              <br>
              <h4>Rent per month in USD  <span class="asterisk">*</span>
              </h4>
              <div class="mb-3">
                  <input type="text" class="form-control" name="price" required>
              </div>
              <br>

              <h4>Neighborhood or Apartment Name  <span class="asterisk">*</span>
              </h4>
              <div class="mb-3">
                  <input type="text" class="form-control" name="location" required>
              </div>
              <br>

              <h4>Address  <span class="asterisk">*</span>
              </h4>
              <div class="mb-3">
                  <input type="text" class="form-control" name="address" required>
              </div>
              <br>

              <h4>Additional Description</h4>
              <div class="mb-3">
                  <input type="text" class="form-control" name="additionalDescription">
              </div>


             
          <!-- <h4>Upload Pictures of Room:</h4>
          <br>
          <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" style="margin-bottom: 10px;" onchange="loadFile(event)"> -->

            <div class="d-grid gap-2" style="padding-left: 1px; padding-right: 1px;">
            <input type="submit" value="Post Room for Rent" class="btn btn-primary" style="width: 100%">  
          </div>
              <br>
              <br>
              <br>
              <br>

              

        </form>

    {{> footer}}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>